<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- APIs URL base da API que estará hospedada -->
    <add key="api-base" value="http://localhost:51353/"/>
    <!-- fim APIs -->
  </appSettings>
  <connectionStrings>
    <add name="dcconnect" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DCBASE;Integrated Security=True"/>
  </connectionStrings>
</configuration>